@import "mixins";

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: $lightblue;
  background-color: $lightgrey;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  padding-top: 41px;
  padding-left: 71px;

  @include r($xl) {
    padding: 40px 15px 0;
    display: grid;
    justify-content: center;
  }
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  min-height: 1200px;
  margin: 0 auto;
  display: flex;

  @include r($xl) {
    min-height: auto;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.burger {
  @include burger(35px, 22px, 2px, $accent);
  position: absolute;
  top: 15px;
  left: 15px;
  display: none;
  z-index: 6;
  @include r($xl) {
    display: block;
  }
  @media (max-width: 992px) and (orientation: landscape) {
    display: block;
  }
}
