@import "mixins";

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: $lightblue;
  background-color: $lightgrey;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  padding-top: 41px;
  padding-left: 71px;

  @include r($xl) {
    padding: 60px 15px 0;
    display: grid;
    justify-content: center;
  }
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  min-height: 1200px;
  margin: 0 auto;
  display: flex;

  @include r($xl) {
    min-height: auto;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.lock {
  overflow: hidden;
}

.burger {
  @include burger(35px, 22px, 2px, $accent);
  position: absolute;
  top: 15px;
  left: 15px;
  display: none;
  z-index: 7;

  &__bg {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 44px;
      height: 44px;
      border-radius: 8px;
      background-color: rgba($color: #5932ea, $alpha: 0.3);
    }
  }

  @include r($xl) {
    display: block;
  }
}
