.table {
  width: 100%;

  &__head {
    &-row.table__row {
      padding-bottom: 14px;
    }

    .table__item {
      color: $grey;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 120px 80px 105px 155px 90px 80px;
    gap: 51px;
    padding: 20px 0;
    text-align: left;
    white-space: nowrap;
    border-bottom: 1px solid #eeeeee;

    transition: scale 0.4s;

    &:hover {
      scale: 1.01;
    }
  }

  &__item {
    font-size: 14px;
    font-weight: 500;
    color: #292d32;

    &.status {
      text-align: center;
    }

    &.active {
      color: $green;
      background-color: rgba(#16c098, 0.38);
      border-radius: 4px;
      border: 1px solid $green;
      text-align: center;
      padding: 4px 17px;
    }

    &.inactive {
      color: $red;
      background-color: #ffc5c5;
      border-radius: 4px;
      border: 1px solid $red;
      text-align: center;
      padding: 4px 12px;
    }
  }
}
