<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item">
      <a href="#" class="menu__link">
        <svg class="menu__item-icon menu__item-icon--stroke" width="24" height="24">
          <use href="images/sprite.svg#key-square"></use>
        </svg>
        Dashboard
      </a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">
        <svg class="menu__item-icon" width="24" height="24">
          <use href="images/sprite.svg#3d-square"></use>
        </svg>
        Product
      </a>
    </li>
    <li class="menu__item menu__item--active">
      <a href="#" class="menu__link">
        <svg class="menu__item-icon menu__item-icon--stroke" width="24" height="24">
          <use href="images/sprite.svg#user-square"></use>
        </svg>
        Customers
      </a>
    </li>
    <li class="menu__item ">
      <a href="#" class="menu__link">
        <svg class="menu__item-icon menu__item-icon--stroke" width="24" height="24">
          <use href="images/sprite.svg#wallet-money"></use>
        </svg>
        Income
      </a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">
        <svg class="menu__item-icon" width="24" height="24">
          <use href="images/sprite.svg#discount-shape"></use>
        </svg>
        Promote
      </a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">
        <svg class="menu__item-icon" width="24" height="24">
          <use href="images/sprite.svg#message-question"></use>
        </svg>
        Help
      </a>
    </li>
  </ul>
</nav>